.container {
    width: 350px;
    margin-left: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.container form input {
    margin: 10px 2px;
    padding: 5px;
    font-size: 15px;
    outline: none;
}

.container form input[type="submit"]
{
    padding: 5px 10px;
}

.container button 
{
    margin-right: 10px;
}
